.container{
    background: #27282b;
    display: flex;
    margin: auto;
    position: relative;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px black;
}
.down-containerr{
    margin: auto;
   
 
}
.first-container{
  
    background: #303134;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px black;
    margin: 20px;

}
.second-container{
  
    background: #303134;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px black;
    margin: 20px;

}
.ul-list{
    margin: 0rem 3rem;
    position: relative;
    top: 1.3rem;
    display: flex;
    justify-content: center;
    background: black;
    border-radius: 1rem;
    /* margin: 3rem; */
    position: relative;
    right: 2.5rem;
}
.ul-list, ul{
    background: #1b1b1b;
   padding: 0.8rem;
   color: rgb(124, 124, 124);
   margin: 0px 5px;
   border-radius: 0.7rem;
   cursor: pointer;
  
}
ul{
    width: 10rem;
    text-align: center;
    font-weight: 500;
}
.ul1,.active{
    /* background: #272626; */
    cursor: pointer;
    border-radius: 0.7rem;
    /* color: white; */
}
.hr-class{
    display: flex;
    height: 3rem;
    width: 4px;
    background: grey;
    border-radius: 1rem;
    position: absolute;
    right: 3rem;
    bottom: 29rem;
}
.hr-second-class{
    background: grey;
}
.btn{
    position: absolute;
    right: 4rem;
    bottom: 0.5rem;
}
button{
    border: 1rem;
    margin-left: 2rem;
    width: 2.5rem;
    height: 2.4rem;
    background: #303134;
    border-radius: 2rem;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 1px 7px rgb(0 0 0);
}

.image-list{
   
    height: 15rem;
    width: 17rem;
    /* border: 1px solid red ; */

}

.ul-list{
    margin-left: 4rem;
}
.inner-ul{
    background: #2c2c2c;
    color: rgb(183, 178, 178);
    /* box-shadow: 1px 1px 10px #6a6c70; */
}
